<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbsr-nav">
        <li><a href="/">Main</a></li>
    </ul>
    <ul class="nav navbsr-nav navbar-right">
        <li><a href="/login">Login</a></li>
    </ul>
</nav>